{% extends "base.html.twig" %}

{% block title %}Sikeres üzenetküldés{% endblock %}


{% block body %}
<div class="container">
      <div class="col-12 col-md-10 col-lg-9 mx-auto my-2">
          {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{message}}</div>
                
            {% endfor %}
            <a href="/" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Főoldal</a>
	</div>
</div>
{% endblock %}

